head{
    background: white;
}

.portal{
    width: 100%;
    position: relative;
    bottom: 0;
    background: whitesmoke;

}
.portal__items{

height: 45vh;
    width: 250px;
    outline: none;
    color: blue;
    border-radius: 5px;
    background:white;
    padding-left: 10px;
    size: 17px;
    border: 2px solid #222222;
    cursor: pointer;
}