h1{
    background:white;
    text-align: center;
    color: black;
}
.container{
    background-color: whitesmoke;
    text-align: left;
    color: blue;
}
body{
    background-color: white;
}
